/* TODO fix this hack */

.tau-chart__layout,
.tau-chart__layout__container,
.tau-chart__layout__content {
  overflow: visible !important;
}

.ct-chart .ct-bar {
  stroke: #CFD2DA !important;
  stroke-width: 30px;
}

.ct-chart .ct-label {
  font-size: 12px;
  color: #CFD2DA;
}

.ct-grids line {
  stroke: #6f7890;
}



/* weird required override because of semantic ui */

/* svg:not(:root) {
  overflow: visible !important;
} */

.cartesian-chart .y-axis path,
.cartesian-chart .x-axis path {
  stroke: #CFD2DA;
}

.cartesian-chart .y-axis text,
.cartesian-chart .x-axis text {
  fill: #CFD2DA;
  font-size: 12px;
}

.cartesian-chart .plot-area .bar {
  fill: #CFD2DA;
}

.cartesian-chart .gridline-y {
  opacity: 0 !important;
}

.cartesian-chart .gridline-x {
  opacity: .3 !important;
}

.nivo rect {
  transition: fill .15s ease-in-out;
}

.nivo rect:hover {
  fill: #1EE3A1 !important;
}

/* .d3scription-tip {
  font-size: 11px;
  color: white;
  background: #283645;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  border-radius: 3px;
  padding: 5px 10px;
} */
