.recharts-wrapper,
.rv-xy-plot,
.c3 {
  font-size: 12px;
}

.recharts-bar-rectangle .recharts-rectangle {
  transition: fill .15s ease-in-out;
}

.recharts-bar-rectangle .recharts-rectangle:hover {
  fill: #1EE3A1 !important;
}

.recharts-tooltip {
  background-color: #252830;
  padding: 3px 8px;
  border-radius: 4px;
  text-align: right;
}

.recharts-tooltip p {
  font-size: 12px;
  color: #CFD2DA;
}

.rv-xy-plot .first-series rect {
  transition: fill .15s ease-in-out, stroke .15s ease-in-out;
}

.rv-xy-plot .first-series rect:hover {
  fill: #1EE3A1 !important;
  stroke: #1EE3A1 !important;
}

.rv-hint aside {
  background-color: #252830;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: right;
}

.rv-hint aside p {
  color: #CFD2DA;
  font-size: 12px;
  margin-bottom: 0;
}





/* TODO fix this hack */

.tau-chart__layout,
.tau-chart__layout__container,
.tau-chart__layout__content {
  overflow: visible !important;
}

.c3 .c3-axis path,
.c3 .tick line {
  stroke: #CFD2DA
}

.c3 .tick text {
  font-size: 12px;
  fill: #CFD2DA;
}

.c3 .c3-bar {
  fill: #CFD2DA !important;
}

.ct-chart .ct-bar {
  stroke: #CFD2DA !important;
  stroke-width: 30px;
}

.ct-chart .ct-label {
  font-size: 12px;
  color: #CFD2DA;
}

.ct-grids line {
  stroke: #6f7890;
}

.bb .bb-axis path,
.bb .tick line {
  stroke: #CFD2DA
}

.bb .tick text {
  font-size: 12px;
  fill: #CFD2DA;
}

.bb .bb-bar {
  fill: #CFD2DA !important;
}






/* weird required override because of semantic ui */

svg:not(:root) {
  overflow: visible !important;
}

.cartesian-chart .y-axis path,
.cartesian-chart .x-axis path {
  stroke: #CFD2DA;
}

.cartesian-chart .y-axis text,
.cartesian-chart .x-axis text {
  fill: #CFD2DA;
  font-size: 12px;
}

.cartesian-chart .plot-area .bar {
  fill: #CFD2DA;
}

.cartesian-chart .gridline-y {
  opacity: 0 !important;
}

.cartesian-chart .gridline-x {
  opacity: .3 !important;
}

.nivo rect {
  transition: fill .15s ease-in-out;
}

.nivo rect:hover {
  fill: #1EE3A1 !important;
}

.highcharts-background {
  fill: transparent;
}

.highcharts-axis-labels text {
  font-size: 12px !important;
  fill: #CFD2DA !important;
  color: #CFD2DA !important;
}

.highcharts-yaxis-grid {
  stroke: #6f7890;
  opacity: 0.5;
}

.highcharts-column-series rect {
  fill: #CFD2DA;
  stroke: #CFD2DA;
}

.highcharts-column-series rect.highcharts-point-hover {
  fill: #1EE3A1;
  stroke: #1EE3A1;
}

.d3scription-tip {
  font-size: 11px;
  color: white;
  background: #283645;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  border-radius: 3px;
  padding: 5px 10px;
  /* min-width: 190px; */
}

.d3kit-chart-root {
  overflow: hidden !important;
}

.d3kit-chart-root .content-layer .bar {
  fill: #CFD2DA;
  transition: fill .15s ease-in-out;
}

.d3kit-chart-root .content-layer .bar:hover {
  fill: #1EE3A1;
}

.d3kit-chart-root g[class*="axis-layer"] .domain,
.d3kit-chart-root g[class*="axis-layer"] .tick line {
  stroke: #CFD2DA;
}

.d3kit-chart-root g[class*="axis-layer"] .tick text {
  fill: #CFD2DA;
  font-size: 12px;
}

.d3kit-chart-root .grid-layer .tick line {
  stroke: #6f7890;
}

.d3kit-chart-root .grid-layer .domain {
  opacity: 0;
}

.d3kit-chart-root text {
  line-height: 1.4;
}

.d3-tip {
  pointer-events: none !important;
  line-height: 1;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #CFD2DA;
  border-radius: 2px;
}

.d3kit-chart-root svg {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
